#root {
  display: flex;
  flex-grow: 1;
  background-color: white;
}

.app {
  flex-grow: 1;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

nav {
  padding: 16px 0px;
}

.header-logo {
  font-size: 32px;
  color: white;
}

main.auth-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  color: var(--main-text-colour0);
  font-size: 28px;
  margin-bottom: 12px;
}

.auth-section {
  border: 1px solid var(--main-colour0);
  border-radius: 8px;
  padding: 32px;
}

.auth-form {
  color: var(--main-text-colour0);
  display: flex;
  flex-direction: column;
  gap: 8px;

  > input {
    color: var(--main-text-colour0);
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--main-colour3);
    font-size: 16px;
    
    transition-property: outline;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }

  button {
    margin-top: 8px;
    color: var(--main-text-colour0);
    background-color: var(--main-colour3);
    border: 1px solid var(--main-colour2);
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;

    transition-property: border background-color color;
    transition-duration: 200ms;
    transition-timing-function: ease;
  }

  button:hover {
    border: 1px solid var(--main-colour3);
    background-color: var(--main-colour1);
    color: white;
  }
}

.section-title {
  font-size: 30px;
  margin-bottom: 16px;
}

main.main-app {
  color: var(--main-text-colour0);
  display: flex;
  flex-grow: 1;
}

.side-bar {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 16px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  a {
    color: var(--main-text-colour0);
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 18px;
  }
}

.main-display {
  display: flex;
  flex-grow: 1;
}

.all-users {
  flex-grow: 1;
  padding: 16px;
}

.all-user-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  gap: 12px;

  > li {
    display: flex;
  }

  .user-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 8px 16px;

    > h3 {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 8px;
    }

    > div {
      display: flex;
      gap: 8px;
    }

    .prof-options {
      border: 1px solid transparent;
      padding: 8px;
      border-radius: 4px;
      color: var(--main-colour1);
      text-align: center;
      background-color: white;
      font-size: 14px;
    }

    .prof-options.disabled {
      background-color: #EEEEEE;
      color: #AAAAAA;
      border: 1px solid #AAAAAA;
    }

    .prof-options:not(.disabled) {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
      transition-property: box-shadow color;
      transition-duration: 100ms;
      transition-timing-function: ease;
    }

    .prof-options:not(.disabled):hover {
      box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 7px;
    }

    @media (width < 900px) {
      > div {
        flex-direction: column;
      }
    }
  }

  .profile-pic {
    border: 1px solid var(--main-colour1);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.message-sidebar-title {
  font-weight: 500;
  margin-bottom: 16px;
}

.messages {
  border-right: 1px solid lightgray;
  padding: 16px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
      > button {
        border-radius: 8px;
        padding: 8px 16px;
        text-align: left;
        display: block;
        border: 1px solid transparent;
        gap: 12px;
        display: flex;
        align-items: center;
        background-color: transparent;

        transition-property: background-color box-shadow;
        transition-duration: 100ms;
        transition-timing-function: ease;
      }

      > button:is(:hover, .selected) {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #35364f;

        .profile-pic {
          border: 1px solid #e5e9ff;
        }

        .detail {
          > .name {
            color: #ffffff;
          }

          > .brief-latest-message {
            color: #caccd7;
          }
        }
      }
    }

    .profile-pic {
      border: 1px solid var(--main-colour1);
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; 
    }

    .detail {
      > .name {
        font-weight: 600;
        margin-bottom: 4px;
      }

      > .brief-latest-message {
        color: var(--main-text-colour2);
      }
    }
  } 
}

.chat-interface {
  flex-grow: 1;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;

  > header {
    padding: 16px;
    border-bottom: 1px solid lightgray;

    > h2 {
      margin-bottom: 0px;
    }
  }

  .chat-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .exchanges {
      padding: 16px;
      display: flex;
      flex-direction: column;
      
      .message-exchange {
        .user-detail {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .who {
          font-weight: 500;
        }

        .msg {
          background-color: #EEEEEE;
          width: fit-content;
          padding: 16px;  
          border-radius: 16px;
          margin-top: 8px;
        }
      }

      .message-exchange.right {
        margin-left: auto;

        .who {
          margin-left: auto;
          text-align: right;
        }

        .msg {
          margin-right: 32px;
          border-top-right-radius: 0px;
        }

        > .user-detail {
          margin-left: auto;
        }
      }

      .message-exchange.left {
        .msg {
          margin-left: 32px;
          border-top-left-radius: 0px;
        }
      }
    }

    > form {
      padding: 16px;
      border-top: 1px solid lightgray;
      margin-top: auto;
      display: flex;
      gap: 16px;
      align-items: end;

      > textarea {
        font-size: 16px;
        resize: none;
        flex-grow: 1;
        border-radius: 8px;
        padding: 8px;
      }

      > button {
        transition-property: background-color box-shadow;
        transition-duration: 100ms;
        transition-timing-function: ease;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid transparent;
        font-size: 16px;
        background-color: #2e355a;
        color: #e5e9ff;
      }

      > button:hover {
        color: #2e355a;
        background-color: white;
        border: 1px solid #2e355a;
      }
    }
  }
}

.profile-view {
  flex-grow: 1;
  display: flex;
  .user-detail {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;

    justify-content: space-between;
    align-items: center;

    .profile-pic {
      width: 128px;
      height: 128px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 1px solid lightgray;
    }

    .user-identity {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .label-value-pair {
      display: flex;
      gap: 8px;
      align-items: center;

      > .label {
        color: var(--main-text-colour1);
      }

      > button {
        background-color: transparent;
        border: 1px solid transparent;
      }

      > input {
        border-radius: 4px;
        padding: 8px 8px;
        border: 1px solid gray;
      }
    }
  }
}
