#root {
  flex-grow: 1;
  background-color: var(--main-colour0);
}

.app {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  padding: 16px 0px;
}

.header-logo {
  font-size: 32px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-title {
  color: var(--main-text-colour0);
  font-size: 28px;
  margin-bottom: 12px;
}

.auth-section {
  border: 1px solid var(--main-colour3);
  border-radius: 8px;
  padding: 32px;
}

.auth-form {
  color: var(--main-text-colour0);
  display: flex;
  flex-direction: column;
  gap: 8px;

  > input {
    color: var(--main-colour1);
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--main-colour3);
    font-size: 16px;
    
    transition-property: outline;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }

  button {
    margin-top: 8px;
    color: var(--main-colour1);
    background-color: var(--main-colour3);
    border: 1px solid var(--main-colour2);
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;

    transition-property: border background-color color;
    transition-duration: 200ms;
    transition-timing-function: ease;
  }

  button:hover {
    border: 1px solid var(--main-colour3);
    background-color: var(--main-colour0);
    color: var(--main-text-colour0);
  }
}
