@font-face {
  font-family: "Figtree";
  src: url("../public/font/figtree.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Figtree";
}

:root {
  --main-colour0: #132a52;
  --main-colour1: #3d699e;
  --main-colour2: #6977d3;
  --main-colour3: #d5d1f4;
  --main-text-colour0: #252525;
  --main-text-colour1: #5d5d5d;
  --main-text-colour2: #a0a0a0;
}

body {
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--main-text-colour0);
  gap: 32px;
}
